*{
    margin: 0;
    padding: 0;
    font-family: 'Nova Round', cursive;
}

.adminBtn{
    border:none;
    background-color: transparent;
    margin-right: 5px;
}

body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 30px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width:15rem;
    text-align: center;
    margin: 10px;
}

.imgCarrito{
    width: 30px;
}

.navItems{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    width: 100%;
}

.btn-nav{
    background-color: transparent;
    border: None;
}

.formBuscar{
    padding: 20px;
    text-align: center;
}

label{
    margin-right: 5px;
}

.inputBuscar{
    padding: 5px;
    border-radius: 30px;
    text-align: center;
}

.btn-cantidad{
    margin-top:8px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.containerTotal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border-top: solid 1px rgba(0, 0, 0, 0.116);
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.categoria{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.a{
    display: none;
}

.carritoVacio{
    padding-top: 20px;
    text-align: center;
}

.loader {
width: 48px;
height: 48px;
border: 3px solid #FFF;
border-radius: 50%;
display: inline-block;
position: relative;
box-sizing: border-box;
animation: rotation 1s linear infinite;
}
.loader::after {
content: '';  
box-sizing: border-box;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 40px;
height: 40px;
border-radius: 50%;
border: 3px solid;
border-color: #FF3D00 transparent;
}

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 

.nCarrito{
display: flex;
flex-direction: row;
align-items: center;
}

.nCarrito{
font-size: 15px;
text-decoration: none;
}

.noSeEncuentra{
    text-align: center;
}

.containerFinalizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.confirmarCompra{
    background-color: transparent;
    border: none;
    color: white;
}

.tituloFinalizando{
    border-bottom: solid 1px rgba(128, 128, 128, 0.234);
    padding-bottom: 15px;
}

.orderDiv{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.orderTitle{
    border-bottom: solid 1px rgba(128, 128, 128, 0.234);
    padding-bottom: 15px;
}

.norden{
    padding-top: 10px;
}

@media(max-width:770px){
    .navItems{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 22px;
        width: 100%;
    }
    .btn-nav{
        background-color: transparent;
        border: None;
        padding: 5px;
    }
    .card{
        width:9rem;
        text-align: center;
        margin: 5px;
    }
}